@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

button {
  background-color: grey;
}

button:hover{
  background-color: #606060;
}

html, #root > div {
  background-color: #222628;
  color: white;
}

#root > div > div > button{
  float: right;
}

.parent{
  display: flex;
  justify-content: flex-end;  /* Move to the right */
  align-items: center;
}

.parent > .title{
  justify-content: flex-start !important;
  margin-right: 78%;
}